@charset "utf-8";

$primary: rgb(0, 141, 54);

// Set the global font.
@import "../assets/fonts/OpenSans-Regular.ttf";
$family-serif: "OpenSans", sans-serif;
$family-primary: $family-serif;

// Globally hide the scrollbar.
html {
  overflow: hidden !important;
}


// Import Bulma SASS files.
@import "./node_modules/bulma/bulma.sass";
